body {
  padding-top: 60px;
}

@media only screen and (max-width: 400px) {
  #mobile-pics {
    max-width:50%
  }
}

navbar-toggler-icon{
  color: white;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.btn-primary, .btn-primary:active, .btn-primary:visited,.btn-primary:focus{
  background-color: #303C74;
  border-color:#303C74;
}
.btn-primary:hover{
  background-color: #172357;
}
* {box-sizing:border-box}

.navbar-custom{
  background-color:#303C74;
}

.navbar-brand{
  color:white;
}

.navbar-brand:hover{
  color: #7B84AE;
  opacity: 0.8;;
}

.nav-link{
  color:white;
}

.navbar-custom .navbar-toggler {
  border-color: rgb(123,132,174);
}

.navbar-custom .navbar-toggler-icon {

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.navbar-toggler{

}


.navbar-custom .nav-item:hover .nav-link{

    color: #7B84AE;
    opacity: 0.8;
}

@media only screen and (min-width: 401px){
.container {
  position: relative;

}
}


.image {
  display: block;
  width: auto;
  height: auto;
}

@media only screen and (min-width: 401px){
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7B84AE;
}}



/* Caption text */
@media only screen and (min-width: 401px){
.text {
  color: white;
 font-size: 30px;
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);

}

.container:hover .overlay {
  opacity: 0.93;
}}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.h1c{
  color: #303C74;
}

.h2c{
  color: #172357;
}

.b2c{
  color: #515D91;
}



h3{
  color: #172357;
}

.h3w{
  color: white;
}

h5{
  color: #07103A;
}


@media only screen and (min-width: 401px){
.grid-container {
  display: grid;
  grid-template-columns: auto auto; /*Make the grid smaller than the container*/
  grid-gap: 50px;
  padding: 50px;
  align-content: end;
}

.grid-container > div {
  text-align: center;
  position:bottom;
  padding: 20px 0;
  font-size: 30px;
}
}

#bottom{
    disply: flex;
    flex-direction:column;
    flew-wrap: wrap;
    padding:50px;
    border-radius:50%;
    margin:50px;
}


#first {
  width: 80%;
  border-radius: 50%;
  padding: 50px;
  margin: 200px;
}

@media only screen and (min-width: 401px) and (max-width:961px)){
#leftmobile {
  position: static;
  font-size: small;
  width: 50%;
  float: right;
  padding: 150px;
    }
  }

@media only screen and (min-width: 961px){
  #leftmain {
    position: static;
    font-size: small;
    width: 50%;
    float: left;
    padding: 150px;
      }
    }
  }


#rightmain {
  font-size: small;
  max-width: 50%;
  float: right;
  padding:150px;
}


#intro {
  position: relative;
  width: 80%;
  border-radius: 50%;
  padding: 50px;
  margin: 100px;
}

#intro1 {

  position:relative;
  padding: 50px;
  margin: 100px;
  background-color: #07103A;
  color:white;
}

#intro3 {

  width:70%;
  margin:0 auto;
  text-align: center;
  position:relative;
  font-size: smaller;

}

#left{
  text-align: left;
}
#topic-sen {
  width: 80%;
  border-radius: 50%;
  padding: 50px;
  margin: 100px;
}

#research{
  width: 80%;
  border-radius: 50%;
  padding: 50px;
  margin: 100px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

table, th, td {
  border: 1px solid #07103A;
  border-collapse: collapse;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.halfcolumn {
  float: left;
  width: 50%;
  padding: 5px;
}

#contact{
  font-size:smaller;
}

.noShow {
    display:none;
}

.footer_link {
    text-alight:right;
    padding-right: 40px;
}
